[Desktop Entry]
Type=Application
Name=NOAA Navionics Chartplotter
Exec=/bin/sh -lc "$HOME/.local/bin/noaa-navionics-start-chartplotter"
Terminal=false
X-GNOME-Autostart-enabled=true
